<%- include('layout/head.ejs') %>

<body>
  <ul>
    <li>Current Forecast: <%= allResultsObject.currentIcon %></li>
    <li>Current Temperature: <%= allResultsObject.currentTemp %> degrees F</li>
    <li>Sunset: <%= allResultsObject.sunset %> </li>
   <li>Here are some Happy Hour locations near <%= allResultsObject.address %></li>
   <li><img id="map" src="<%= allResultsObject.map %>" alt=""></li>
   <% for(let i = 0; i < allResultsObject.hh.length; i++) { %>
  <li> Restaurant Name: <%= allResultsObject.hh[i].name %></li>
  <li> Price: <%= allResultsObject.hh[i].prices %> / 5</li>
  <li> Rating: <%= allResultsObject.hh[i].rating %> / 5</li>
  <li> Open Now: <%= allResultsObject.hh[i].openNow %></li>
  <% } %>
  </ul>
</body>
</html>