<%- include('layout/head.ejs') %>

<body>
  <h3>Happy Ours</h3>
  <h5><%= allResultsObject.currentIcon %></h5>
  <div id="temp"><%= allResultsObject.currentTemp %>&#176 F</div>
  <div id="sundown">Sunset at <%= allResultsObject.sunset %> </div>
  <ul>
   <li class="location-res" >Happy Hour locations near <%= allResultsObject.address %></li>
   <li><img id="map" src="<%= allResultsObject.map %>" alt=""></li>
   <% for(let i = 0; i < allResultsObject.hh.length; i++) { %>
  <br><br><li class="name"> <%= allResultsObject.hh[i].name %> </li>
  <li class="price"> Price: <%= allResultsObject.hh[i].prices %> / 5</li>
  <li class="rating"> Rating: <%= allResultsObject.hh[i].rating %> / 5</li>
  <li class="open"> Open Now: <%= allResultsObject.hh[i].openNow %></li>
  <% } %>
  </ul>
</body>
<footer>Copyright 2019 &copy</footer>
</html>